body{
    background-color: aqua;
    padding: 15px;
}
.title {
    text-align: center;
    color: red;
    margin-bottom: 15px;
}
.time {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    background: white;
}
.time th{
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: white;
}
.time td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
.cal {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}
.cal th{
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    background-color: #3498db;
    color: white;
}
.cal td {
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    height: 40px;
}
    